codepen/daily-ui-024-boarding-passremix/src/index.pug
#container
  #barCode
    img(src="http://www.hascode.com/wp-content/uploads/2010/05/qr-code-inverted-error.png")
  #content  
    .location#from
      .code DEV
      .city Development
    .location#plane
      hr
      span.ion-plane
    .location#to
      .code PROD
      .city Production
    hr.lineOne
    #info
      .col1
        .greyTxt PROJECT
        .specifics brie/quick-response-code
      .col2
        .greyTxt PIPELINE #
        .specifics PIPELINE_ID

    hr.lineTwo
    #boarding
      .title STARTING
      .boardInfo START_TIME
      .icon
        span.ion-ios-printer

codepen/daily-ui-024-boarding-passremix/dist/index.html
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Daily UI 024 (Boarding Pass) -- remix</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'><link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="container">
  <div id="barCode"><img src="img/view-this-pipeline.png"/></div>
  <div id="content"> 
    <div class="location" id="from">
      <div class="code">DEV</div>
      <div class="city">Development</div>
    </div>
    <div class="location" id="plane">
      <hr/><span class="ion-plane"></span>
    </div>
    <div class="location" id="to">
      <div class="code">PROD</div>
      <div class="city">Production</div>
    </div>
    <hr class="lineOne"/>
    <div id="info">
      <div class="col1">
        <div class="greyTxt">PROJECT</div>
        <div class="specifics">brie/quick-response-code</div>
      </div>
      <div class="col2">
        <div class="greyTxt">PIPELINE #</div>
        <div class="specifics">PIPELINE_ID</div>
      </div>
    </div>
    <hr class="lineTwo"/>
    <div id="boarding">
      <div class="title">STARTING</div>
      <div class="boardInfo">START_TIME</div>
      <div class="icon"><span class="ion-ios-printer"></span></div>
    </div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
